@CHARSET "ISO-8859-1";

body {
	
}

.clear {
	clear: both;
}

.header {
	border-bottom: ridge;
	border-width: 10px;
	width: 100%;
	float: left;
	margin-bottom: 35px;
}

.content {
	
}

.menu {
	width: 20%;
	float: left;
	height: 960px;
}

.logo {
	height: 25px;
}

.dashboard {
	padding: 20px 30px;
	height: auto;
	width: 80%;
	float: left;
	height: auto;
}

.to-do {
	width: 50%;
	float: left;
	width: 50%;
	margin-right: 5px;
}

.ranking {
	width: 50%;
	float: left;
	margin-left: 5px;
}

.tree-sub-menu {
	padding-left: 20px;
}

.footer {
	
}